/** 
 *  This CSS provides all the style settings for
 *  our JavaFX controls.
 *
 *  @author McKilla Gorilla
 */

// FIRST, ALL OUR TEXTUAL COMPONENTS WILL USE THE SAME FONT FAMILY
.lang_prompt, .lang_combo_box, .lang_ok_button,
.title_prompt, .title_text_field,
.caption_prompt, .caption_text_field {
    -fx-font-family:sans-serif;    
}

// TOOLBAR CONTROLS
.horizontal_toolbar_pane, .vertical_toolbar_pane {
    -fx-background-color: #A69800;    
    -fx-padding:5;
}

.horizontal_toolbar_pane {
    -fx-hgap:2;
}

.vertical_toolbar_pane {
    -fx-alignment: center;
    -fx-orientation: vertical;
    -fx-vgap:20;
}


.vertical_toolbar_button {
    -fx-background-color: #FFF373;
    -fx-padding: 10px 10px 10px 10px;
    -fx-spacing: 50px;
}
.vertical_toolbar_button:hover{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 25, 0.0 , 0 , 1 );
    -fx-background-color: #91918F;
}
.horizontal_toolbar_button {
    -fx-background-color: #FFF373;
    -fx-padding-left: 10px;
    -fx-padding-right: 20px;
}
.horizontal_toolbar_button:hover{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-background-color: #ffffff;
}

// WORKSPACE AND IT'S CONTAINERS

.workspace {
    -fx-background-color: #FFF373;
}

.slides_editor_pane {
    -fx-background-color: #FFF373;
    -fx-padding: 30;    
    -fx-hgap:35;
    -fx-vgap:40;
}

.slide_edit_view, .selected_slide_edit_view {
    -fx-border-width: 5;
    -fx-border-radius: 15 15 15 15;
    -fx-background-radius: 15 15 15 15;
}

.slide_edit_view {
    -fx-background-color: #C89E00;
    -fx-border-color: black;
}

.selected_slide_edit_view {
    -fx-background-color: #FFDC73;
    -fx-border-color: #BFB330;
}

// SLIDE EDIT CONTROLS
.title_pane {   
    -fx-hgap:10;
    -fx-vgap:10;
    -fx-padding: 0 0 20 0;
}

.title_prompt {
    -fx-font: 18pt bold;
}

.title_text_field {
    -fx-font: 16pt normal;
    -fx-background-color: #C89E00;
    -fx-min-width:300px;
}

.caption_prompt {
    -fx-font-size: 16pt;
    -fx-padding: 5 5 5 20;
}

.caption_text_field {
    -fx-font-size: 14pt;
    -fx-background-color: #FFF373; 
    -fx-min-width:600px;
    -fx-padding: 5 5 5 20;
}

.all_tabs, .page_edit_label, page_edit_textfield,.page_edit_buttons,.page_edit_toolbar,.page_grid,.page_menu_bar{
    -fx-font-size: 16pt;
    -fx-font-family: 'Indie Flower', cursive;
}
.page_edit_label{
   -fx-padding: 10px 10px 10px 10px;
}

.page_edit_textfield{
    -fx-padding: 10px;
}

.blk_border{
   -fx-border-style: solid;
   -fx-border-radius: 1px;
   -fx-border-color: #000000;
}

.page_edit_buttons{
    -fx-padding-left: 10px;
    -fx-padding-right: 20px;
}
.page_edit_buttons:hover{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 25, 0.0 , 0 , 1 );
    -fx-background-color: #91918F;
    -fx-padding-left: 10px;
    -fx-padding-right: 20px;
    -fx-spacing:40;
   -fx-border-style: solid;
   -fx-border-radius: 1px;
   -fx-border-color: #000000;
}

.page_edit_toolbar{
    -fx-padding: 0px 0px 0px 0px;
    -fx-hgap:10;
    -fx-alignment:CENTER_LEFT;
}
.page_grid{
    -fx-padding: 50px 0px 0px 0px
}
.page_edit_vbox{
    -fx-spacing:40px;
    -fx-alignment:CENTER;
}

.paragraph_hox{
    -fx-padding: 0px 0px 0px 300px;
}


.list_edit_view{
    -fx-font-size: 16pt;
    -fx-font-family: 'Indie Flower', cursive;
    -fx-spacing:40px;
}