/*
*To change layout of the ePortfolio
*/
/* 
    Created on : Nov 5, 2015, 6:43:14 PM
    Author     : YanLiang Li
*/

#content 
{
    position:absolute;
    width:80%;
    left:10%;
    right:10%;
    text-align:left;
}

#navbar,#banner,#desc,h1{
    border-style: solid;
    border-color: #363636;
    border-width: 1px;
}

#navbar 
{
    position:absolute;
    width:75%;
    height:45px; 
    top:292px;
    padding-left: 25%;
}

#desc 
{
    position:absolute;
    padding-left:2%;
    padding-right:2%;
    padding-top:0px;
    width:96%;
    margin-top:0px;
    top:380px;
}


a.nav, a.open_nav {
    display:inline-block;
    border:none;
    text-decoration:none;
    text-align:center;
    font-weight:bold;
    padding-left:5px;
    padding-right:20px;
    padding-top:5px;
    width:80px;
}

#banner 
{
    position:absolute;
    width:100%;
    height:300px;
    text-align:center;
    padding-top:10px;
    padding-bottom:0px;
    margin-top:0px;
    margin-bottom:0px;
    top:-13px;
}

p.footer
{
	text-align:center;
	padding-top:00px;
}

h1{
    position: absolute;
    top:318px;
    width:100%;
}