/*
*To change color theme of the ePortfolio
*/
/* 
    Created on : Nov 5, 2015, 6:43:29 PM
    Author     : YanLiang Li
*/
body {
	background-color:rgb(118,143,165);
}

#navbar {
	background-color:#660000;
}

#banner {
	color:#ffffff;
	background-color:#990000;
}

a.nav:hover{
	color:rgb(118,143,165);
}

#desc {
	background-color:#ffffff;
	color:#000000;
}

h1{
    color:#ffffff;
    background-color:#990000;
}

a.nav, a.open_nav{
    color:#ffffff;
}