/*
*To change color theme of the ePortfolio
*/
/* 
    Created on : Nov 5, 2015, 6:43:29 PM
    Author     : YanLiang Li
*/
body {
	background-color:#011629;
}

#navbar {
	background-color:#2A4E6E;
}
a.nav,a.open_nav{
     color:#ffffff;
}
#banner {
	background-color:#082C4C;
}
a.nav:hover{
	color:rgb(118,143,165);
}
#desc {
	background-color:#AEB5BC;
        color: #000000;
}

h1{
    background-color:#5E7990;
}

p.footer{
        color: #000000;
}