/*
*To change color theme of the ePortfolio
*/
/* 
    Created on : Nov 5, 2015, 6:43:29 PM
    Author     : YanLiang Li
*/
body {
	background-color:#86A136;
}

#navbar {
	background-color:#2D3C00;
}

#banner {
	color:#ffffff;
	background-color:#C0D485;
}

a.nav:hover{
	color:rgb(118,143,165);
}

#desc {
	background-color:#F0F5E2;
	color:#000000;
}

h1{
    color:#ffffff;
    background-color:#546F04;
}

a.nav, a.open_nav{
    color:#ffffff;
}
