/*
*To change color theme of the ePortfolio
*/
/* 
    Created on : Nov 5, 2015, 6:43:29 PM
    Author     : YanLiang Li
*/
body {
	background-color:#AA6C39;
}

#navbar {
	background-color:#D76100;
}

#banner {
	color:#ffffff;
	background-color:#FF7400;
}

a.nav:hover{
	color:rgb(118,143,165);
}

#desc {
	background-color:#4F4F4F;
	color:#ffffff;
}

h1{
    color:#ffffff;
    background-color:#7D6653;
}

a.nav, a.open_nav{
    color:#ffffff;
}
