/*
*To change layout of the ePortfolio
*/
/* 
    Created on : Nov 5, 2015, 6:43:14 PM
    Author     : YanLiang Li
*/

#content {
    position:absolute;
    width:80%;
    left:2%;
    right:10%;
    text-align:left;
}

#navbar,#banner,#desc,h1{
    border-style: solid;
    border-color: #363636;
    border-width: 1px;
}

#navbar {
    position:absolute;
    margin-left: 100px;
    width: 100px; 
    height: 100%; 
    float: left;
    top:338px;
}

#desc {
    position:absolute;
    padding-left:2%;
    padding-right:2%;
    padding-top:0px;
    width:87.3%;
    margin-left: 100px;
    margin-top:0px;
    top:348px;
    left:100px;
}


a.nav, a.open_nav {
    display:inline-block;
    border:none;
    text-decoration:none;
    text-align:center;
    font-weight:bold;
    padding-left:5px;
    padding-right:5px;
    padding-top:20px;
    padding-bottom: 20px;
    width:80px;
}


#banner {
    width:100%;
    height:300px;
    margin-left: 100px;
    text-align:center;
    padding-top:10px;
    padding-bottom:0px;
    margin-top:0px;
    margin-bottom:0px;
    top:-100px;
}


h1{
    position: absolute;
    top:275px;
    width:100%;
    margin-left: 100px;
    padding-bottom: 10px;
}

p.footer
{
	text-align:center;
	padding-top:00px;
}


#slideshow_controls, #slide_caption{
    text-align: center;
}
#slide_img{
    margin-top: 50px;
    margin-bottom: 50px;
}
#previous_button, #play_pause_button, #next_button{
    padding: 10px 10px 10px 10px;
    margin-top: 10px;
    margin-right: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: #D76100;
    background-color: #D76100;
}