/*
*To change layout of the ePortfolio
*/
/* 
    Created on : Nov 5, 2015, 6:43:14 PM
    Author     : YanLiang Li
*/

#content 
{
    position:absolute;
    width:80%;
    left:10%;
    right:10%;
    text-align:left;
}

#navbar,#banner,#desc,h1{
    border-style: solid;
    border-color: #363636;
    border-width: 1px;
}

#navbar 
{
    position:absolute	;
    width:100%;
    height:45px;
    top:-10px;
}

#desc 
{
    position:absolute;
    padding-left:2%;
    padding-right:2%;
    padding-top:0px;
    width:96%;
    margin-top:0px;
    top:408px;
}


a.nav, a.open_nav {
    display:inline-block;
    border:none;
    text-decoration:none;
    text-align:center;
    padding-left:5px;
    padding-right:20px;
    padding-top:5px;
    width:80px;
}

#banner 
{
    position:absolute;
    width:100%;
    height:300px;
    text-align:center;
    padding-top:10px;
    padding-bottom:10px;
    margin-top:0px;
    margin-bottom:0px;
    top:37px;
}

h1{
    position: absolute;
    top:338px;
    width:100%;
    padding-bottom: 10px;
}

#p1{
    
}

#homepage_img{
    height: 360px;
    width: 570px;
    float:right; 
    margin-left:20px; 
    margin-right:0px; 
    margin-top:20px; 
    margin-bottom:20px
}

p.footer
{
	text-align:center;
	padding-top:00px;
}