/*
*To change layout of the ePortfolio
*/
/* 
    Created on : Nov 5, 2015, 6:43:14 PM
    Author     : YanLiang Li
*/

#content {
    position:absolute;
    width:80%;
    left:2%;
    right:10%;
    text-align:left;
    margin-left: -30px;
}

#navbar,#banner,#desc,h1{
    border-style: solid;
    border-color: #363636;
    border-width: 1px;
}

#navbar {
    width: 100px; 
    height: 100%; 
    margin-top: -10px;
    float: left; 
}

#desc {
    position:absolute;
    padding-left:2%;
    padding-right:2%;
    padding-top:0px;
    width:96%;
    margin-top:0px;
    top:340px;
    left:100px;
}


a.nav, a.open_nav {
    display:inline-block;
    border:none;
    text-decoration:none;
    text-align:center;
    font-weight:bold;
    padding-left:5px;
    padding-right:5px;
    padding-top:50px;
    padding-bottom: 50px;
    width:80px;
}

#banner {
    position:absolute;
    width:100%;
    height:300px;
    left:100px;
    text-align:center;
    padding-top:10px;
    padding-bottom:0px;
    margin-top:0px;
    margin-bottom:0px;
    top:-13px;
}

h1{
    position: absolute;
    top:275px;
    width:100%;
    left:100px;
    padding-bottom: 10px;
}

p.footer
{
	text-align:center;
	padding-top:00px;
}

#interests{
    text-align: center;
    margin-top: 50px;
}
