/*
*To change text fonts of the ePortfolio
*/
/* 
    Created on : Nov 5, 2015, 6:43:45 PM
    Author     : YanLiang Li
*/

body {
	font-family: 'Indie Flower', cursive;
}
a.nav {
	
	font-size:12pt;
	font-weight:bold;
}
a.open_nav {
	
	font-size:18pt;
	font-weight:bold;
}

#banner {
	font-size:24pt;
}

p.footer
{
    font-size:8pt;
}
